[submodule "apertium/vendor/lttoolbox"]
	path = apertium/vendor/lttoolbox
	url = https://github.com/apertium/lttoolbox.git
[submodule "apertium/vendor/apertium"]
	path = apertium/vendor/apertium
	url = https://github.com/apertium/apertium.git
[submodule "apertium/vendor/apertium-ido"]
	path = apertium/vendor/apertium-ido
	url = https://github.com/komapc/apertium-ido.git
[submodule "apertium/vendor/apertium-epo"]
	path = apertium/vendor/apertium-epo
	url = https://github.com/apertium/apertium-epo.git
[submodule "apertium/apertium-ido-epo"]
	path = apertium/apertium-ido-epo
	url = https://github.com/komapc/apertium-ido-epo.git
